* {
  font-family: 'Metropolis', 'Spoqa Han Sans';
  user-select: none;
  background-color: black;
  border-radius: 10%;
}

body {
  margin: 0;
}
#mc_embed_signup form {
  position: relative;
  display: block;
  text-align: left;
  padding: 10px 0 10px 3%;
}
#mc_embed_signup h2 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
}
#mc_embed_signup input {
 margin-top: 100px;
  border: 1px solid #e2e2e2;
  -webkit-appearance: none;
  border-radius: 0.3rem;
  margin-left: 50px;
}
#mc_embed_signup input[type='checkbox'] {
  -webkit-appearance: checkbox;
}
#mc_embed_signup input[type='radio'] {
  -webkit-appearance: radio;
}
#mc_embed_signup input:focus {
  border: 1px solid #e2e2e2;
}
#mc_embed_signup .button {
  clear: both;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: rgb(3, 3, 3);
  border: 0 none;
  border-radius: 0.3rem;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: 5%;
  transition: all 0.23s ease-in-out 0s;
  border: 1px solid #e2e2e2;
}
#mc_embed_signup .small-meta {
  font-size: 11px;
}
#mc_embed_signup .nowrap {
  white-space: nowrap;
}
#mc_embed_signup .clear {
  clear: none;
  display: inline;
}

#mc_embed_signup label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}
#mc_embed_signup input.email {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, Verdana,
    sans-serif;
  font-size: 15px;
  color: white;
  display: block;
  padding: 0 0.4em;
  margin: 0 4% 10px 0;
  min-height: 32px;
  width: 58%;
  min-width: 130px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#mc_embed_signup input.button {
  display: block;
  width: 35%;
  margin: 0 0 10px 0;
  min-width: 90px;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em 0.5em 0em 0.5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}
#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em 0.5em 0.5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}
#mc_embed_signup #mce-error-response {
  display: none;
}
#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}
#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0;
}
input {
  border-radius: 0.7rem;
  background-color: white;
  border: 1px solid #e2e2e2;
}

img {
  border-radius: 0.7rem;
  cursor: help;
}

#whitemod {
  margin-left: 2%;
  background-color: #e2e2e2;
  border-radius: 7px;
  color: #ff0000;
  cursor: text;
}

#del {
  color: grey !important;
  text-decoration: line-through;
  white-space: nowrap !important;
}
#del:hover {
  text-decoration: none;
}

#copy {
  color: white !important;
}

input {
  text-align: center !important;
  padding-top: 10px;
  background: rgb(0, 0, 0);
  clear: center;
  font: 14px Helvetica, Arial, sans-serif;
}
.button {
  background-color: white;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  background-color: #ff0000;
  border-radius: 0 0 2rem 2rem;
  margin-bottom: 2rem;
}
label {
  font-family: Metropolis;
}
header h1 {
  font-size: 5rem;
  color: white;
  width: max-content;
  font-weight: 800;
  color: white;
  background-color: transparent;
}

header h1::selection {
  color: white;
  background-color: #6db6ff;
  -webkit-text-fill-color: white;
  border-radius: 1rem;
}

section {
  width: 50vw;
  border: 1px solid #e2e2e2;
  border-radius: 0.7rem;
  margin: 1rem auto;
  color: white;
}
.email {
  width: 50vw;
  border: 3px solid #e2e2e2;
  border-radius: 0.9rem;
  margin: 1rem auto;
  color: white;
}
#mc-embedded-subscribe {
  border-radius: 0.9rem;
  color: rgb(0, 0, 0);
}
section main {
  padding: 1rem 1.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  border: 1px solid #e2e2e2;
  border-radius: 2rem 2rem 0 0;
  margin-top: 2rem;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: initial;
}

#about * {
  margin: 0;
}

#about h2,
#skills h2 {
  margin: 0.1rem 0 0.7rem 0;
  color: white;
}

#about .profile {
  display: flex;
  align-items: center;
  color: white;
}

#about .profile img {
  height: 5rem;
}

#about .profile .profile-text {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 1rem;
}

#about .profile .profile-text h2 {
  margin: 0;
  color: white;
}

.pill,
.pill-p {
  border-radius: 9999rem;
  font-weight: 500;
  width: max-content;
  height: max-content;
  padding: 0.3rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3rem;
  cursor: pointer;
  color: white;
}

.skilled-lang {
  display: flex;
  overflow: auto;
  color: white;
}

.about-skilled {
  margin: 0.5rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.7rem;
  min-height: 1rem;
  color: white;
}

.about-skilled h2 {
  margin: 1.5rem auto !important;
  color: #7e7e7e;
  font-weight: 500;
  width: max-content;
  height: max-content;
  color: white;
}

.project,
.contact {
  margin: 0.5rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.7rem;
  min-height: 1rem;
  color: white;
  margin-right: 10px;
}

.project h2,
.add,
.contact h2 {
  margin: 1rem 1rem 0.3rem 1rem;
  color: white;
  font-weight: 500;
  width: max-content;
  height: max-content;
  color: white;
}

.desc {
  margin: 0 1rem 1rem 1rem;
}

.contact .desc {
  color: white;
}

.about-skilled h2.active {
  color: white;
}

a {
  color: #0059ff;
  text-decoration: none;
}

p {
  text-decoration: none;
  font-weight: 200;
  color: white !important;
}
a:active,
a:focus {
  outline: none;
  border: none;
}

.progress {
  height: 1.5rem;
  width: 100%;
  background-color: #dadada;
  border-radius: 9999rem;
  color: white;
}

.progress-bar {
  height: 100%;
  width: 0%;
  transition: 1s;
  border-radius: 9999rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

div {
  color: white;
}

.number {
  padding: 0 0.7rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
}

@media (max-width: 1280px) {
  section {
    width: 60vw;
    color: white;
  }
}

@media (max-width: 960px) {
  header h1 {
    font-size: 4rem;
    color: white;
    background-color: transparent;
  }
  .about-skilled h2 {
    font-size: 1rem;
    color: white;
  }
  section {
    width: 70vw;
    color: white;
  }
}

@media (max-width: 720px) {
  section {
    width: 80vw;
    color: white;
  }
}

@media (max-width: 680px) {
  section {
    width: 90vw;
    color: white;
  }
}

@media (max-width: 640px) {
  header h1 {
    font-size: 3rem;
    color: white;
  }
}

@media (max-width: 480px) {
  section {
    width: 95vw;
    color: white;
  }
}
